
.cart-section{
  padding: 115px 0px 150px 0px;
}

.cart-section .table-outer {
  overflow-x: auto;
  position: relative;
  width: 100%;
}

.cart-section .cart-table {
  min-width: 1170px;
  width: 100%;
}

.cart-section .cart-table thead tr th {
  position: relative;
  min-width: 110px;
  padding: 29px 15px 27px 0px;
  color: #222;
  font-size: 20px;
  line-height: 28px;
  font-family: 'Jost', sans-serif;
  font-weight: 500;
  text-align: center;
}

.cart-section .cart-table tbody tr{
  border-bottom: 1px solid #e5e5e5;
}

.cart-section .cart-table .cart-header{
  border-bottom: 1px solid #e5e5e5;
}

.cart-section .cart-table tbody tr td.prod-column{
  padding: 30px 0px;
}

.cart-section .cart-table tbody tr .prod-column .column-box {
  min-height: 100px;
  position: relative;
  padding: 45px 0px 36px 280px;
}

.cart-section .cart-table tbody tr .prod-column .column-box .prod-thumb img {
  max-width: 100%;
  border-radius: 10px;
}

.cart-section .cart-table tbody tr .prod-column .column-box .prod-thumb{
  position: absolute;
  left: 120px;
  top: 0px;
  width: 110px;
  height: 110px;
  background: #F1F1F1;
  border-radius: 10px;
}

.cart-section .cart-table tbody tr .prod-column .column-box .title{
  padding-left: 20px;
}

.cart-section .cart-table tbody tr .prod-column .column-box .remove-btn{
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  line-height: 54px;
  font-size: 16px;
  color: #222;
  font-weight: 900;
  border: 1px solid #e5e5e5;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 500ms ease;
}

.cart-section .cart-table tbody tr .prod-column .column-box .remove-btn:hover{
  color: #fff;
}

.cart-section .cart-table tbody tr td.price {
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #222;
  font-weight: 500;
  position: relative;
  padding: 30px 25px 30px 30px;
}

.cart-section .cart-table tbody tr .sub-total {
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  padding: 27px 50px 27px 48px;
  text-align: center;
  color: #222;
}

.cart-section .cart-table tbody tr td.qty{
  position: relative;
}

.cart-section .cart-table tbody tr td.qty .item-quantity{
  position: relative;
  display: inline-block;
  max-width: 150px;
  width: 100%;
  float: left;
  padding: 0px 40px;
  margin-left: 0px;
  border: 1px solid #e6e6e6;
  border-radius: 30px;
  height: 50px;
  z-index: 1;
}

.cart-section .cart-table tbody tr td.qty .item-quantity .bootstrap-touchspin .input-group-btn-vertical i{
  left: 12px;
}

.cart-section .cart-table tbody tr td.qty input.quantity-spinner {
  line-height: 48px;
  height: 46px;
  width: 43px !important;
  padding: 0px !important;
  box-shadow: none !important;
  border: none;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #101010;
  background: transparent;
}

.cart-section .bootstrap-touchspin .input-group-btn-vertical > .btn.bootstrap-touchspin-down{
  position: absolute;
  height: 48px;
  width: 40px;
  background: transparent;
  padding: 0px 0px;
  left: -35px;
  top: -47px;
  border-right: none;
  border-radius: 0px;
}

.cart-section .bootstrap-touchspin .input-group-btn-vertical > .btn.bootstrap-touchspin-up{
  position: absolute;
  height: 48px;
  width: 40px;
  background: transparent;
  padding: 0px 0px;
  right: -45px;
  top: -47px;
  border-left: none;
  margin-top: 0px;
  border-radius: 0px;
}

.cart-section .bootstrap-touchspin .glyphicon-chevron-up:before {
  content: "\f067";
  font-size: 16px;
  font-style: normal;
  color: #000;
  font-family: 'Font Awesome 5 Pro';
}

.cart-section .bootstrap-touchspin .glyphicon-chevron-down:before {
  content: "\f068";
  font-size: 16px;
  font-style: normal;
  color: #000;
  font-family: 'Font Awesome 5 Pro';
}

.cart-section .bootstrap-touchspin .input-group-btn-vertical{
  position: absolute;
  width: 100%;
}

.cart-section .bootstrap-touchspin .input-group-btn-vertical i{
  top: 15px;
  left: 15px;
  font-size: inherit !important; 
}

.cart-section .bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-down{
  margin-top: 0px;
}

.cart-section .item-quantity .input-group {
  position: relative;
  display: table;
  border-collapse: separate;
  max-width: 50px;
  width: 100%;
  height: 53px;
}

.cart-section .cart-table .prod-title h4{
  position: relative;
  display: inline-block;
  font-size: 20px;
  line-height: 28px;
  color: #222;
  font-weight: 500;
}

.cart-section .othre-content{
  position: relative;
  display: flex;
  padding: 30px 0px;
  margin-bottom: 70px;
  align-items: center;
  justify-content: space-between;
}

.cart-section .othre-content .coupon-box{
  position: relative;
  display: flex;
  align-items: center;
  min-width: 520px;
}

.cart-section .othre-content .coupon-box input[type='text']{
  position: relative;
  display: inline-block;
  max-width: 300px;
  width: 100%;
  font-size: 15px;
  height: 50px;
  color: #676767;
  border: 1px solid #e5e5e5;
  border-radius: 30px;
  padding: 10px 30px;
  float: left;
  margin-right: 20px;
}

.cart-section .othre-content .coupon-box input:focus{

}

.cart-section .othre-content .coupon-box button{
  width: 200px;
  padding: 13px 30px;
  box-shadow: none;
}

.cart-section .othre-content .theme-btn-two{
  padding: 12px 32px;
  transition: all 500ms ease;
}

.cart-section .othre-content .theme-btn-two:hover{

}

.cart-section .cart-total .total-cart-box{
  position: relative;
}

.cart-section .cart-total .total-cart-box h4{
  position: relative;
  display: block;
  font-size: 20px;
  line-height: 25px;
  background: #fcf5f3;
  padding: 19px 30px 11px 30px;
}

.cart-section .cart-total .total-cart-box .list li{
  position: relative;
  display: block;
  font-size: 20px;
  line-height: 28px;
  font-family: 'Jost', sans-serif;
  font-weight: 500;
  color: #222;
  padding: 18px 0px;
  border-top: 1px solid #e5e5e5;
}

.cart-section .cart-total .total-cart-box .list li span{
  font-family: 'Inter', sans-serif;
  float: right;
  font-weight: 500;
  font-size: 18px;
}

.cart-section .cart-total .total-cart-box .list li:last-child span{
  font-size: 20px;
}

.cart-section .cart-total .total-cart-box .theme-btn-one{
  display: block;
  padding: 13px 35px;
  width: 100%;
  margin-top: 5px;
  box-shadow: none;
}