

.checkout-section{
  position: relative;
}

.checkout-section .upper-box{
  position: relative;
  margin-bottom: 45px;
}

.checkout-section .upper-box .single-box{
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 26px;
  color: #222;
  font-weight: 500;
  padding: 17px 30px;
  background: #fff;
  box-shadow: 0px 15px 40px 10px rgba(0, 0, 0, 0.05);
	border-radius: 10px;
}

.checkout-section .upper-box .single-box a{
  
}

.checkout-section .customer a:hover,
.checkout-section .coupon a:hover{
  text-decoration: underline;
}

.checkout-section .sub-title{
  position: relative;
  display: block;
  font-size: 28px;
  line-height: 36px;
  font-weight: 600;
}

.checkout-section .billing-info{
  position: relative;
  display: block;
  margin-bottom: 30px;
}

.checkout-section .billing-form{
  position: relative;
  display: block;
  padding: 45px 0px 28px 0px;
}

.checkout-section .billing-form .form-group{
  position: relative;
  display: block;
  margin-bottom: 23px;
}

.checkout-section .billing-form .form-group:last-child{
  margin-bottom: 0px;
}

.checkout-section .billing-form .form-group label{
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 24px;
  color: #222;
  margin-bottom: 7px;
}

.checkout-section .billing-form .form-group input[type='text'],
.checkout-section .billing-form .form-group input[type='email']{
  position: relative;
  display: block;
  width: 100%;
  height: 50px;
  border: 1px solid #e5e5e5;
  font-size: 16px;
  color: #676767;
  padding: 10px 15px;
  border-radius: 30px;
  transition: all 500ms ease;
}

.checkout-section .billing-form .form-group .nice-select{
  border-radius: 30px;
  border: 1px solid #e5e5e5 !important;
  width: 100%;
  font-size: 16px;
  color: #676767;
  height: 50px;
  line-height: 50px;
  padding: 0px 20px;
  text-transform: capitalize;
}

.checkout-section .billing-form .form-group .nice-select:after{
  border-bottom: 2px solid #c4c4c4;
  border-right: 2px solid #c4c4c4;
  margin-top: -4px;
  width: 8px;
  height: 8px;
  right: 20px;
}

.checkout-section .billing-form .form-group .nice-select .list{
  width: 100%;
}

.checkout-section .billing-form .form-group input.address{
  margin-bottom: 10px;
}

.checkout-section .billing-form .form-group input:focus{
  
}

.checkout-section .billing-form .select-box .ui-state-default{
  width: 100% !important;
}

.checkout-section .billing-form .select-box .ui-selectmenu-button span.ui-icon:before{
  color: #848484;
}

.checkout-section .billing-form .create-acc{
  position: relative;
  display: block;
  margin-top: 3px;
}

.checkout-section .billing-form .create-acc .custom-controls-stacked .description{
  font-size: 16px;
  color: #222;
  cursor: pointer;
}

.checkout-section .additional-info .note-book{
  position: relative;
  display: block;
}

.checkout-section .additional-info .note-book label{
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 24px;
  color: #222;
  margin-bottom: 7px;
}

.checkout-section .additional-info .note-book textarea{
  position: relative;
  display: block;
  width: 100%;
  height: 140px;
  border: 1px solid #e5e5e5;
  color: #676767;
  font-size: 14px;
  font-weight: 400;
  padding: 8px 20px;
  border-radius: 10px;
  resize: none;
  padding-top: 12px;
  transition: all 500ms ease;
}

.checkout-section .additional-info .note-book textarea:focus{
  
}

.checkout-section .order-info{
  position: relative;
  display: block;
  margin-bottom: 70px;
}

.checkout-section .order-info .order-list li{
  position: relative;
  display: block;
  border-bottom: 1px solid #e5e5e5;
  padding: 20px 30px;
}

.checkout-section .order-info .order-list li.title{
	display: flex;
	align-items: center;
	justify-content: space-between;
  padding: 37px 30px 7px 30px;
}

.checkout-section .order-info .order-list li.title h4{
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
}

.checkout-section .order-info .order-list li .single-box{
  position: relative;
  padding: 35px 0px 27px 110px;
  min-height: 90px;
}

.checkout-section .order-info .order-list li .single-box .image-box{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 90px;
  height: 90px;
  background: #F1F1F1;
  border-radius: 10px;
}

.checkout-section .order-info .order-list li .single-box img{
  width: 100%;
  border-radius: 10px;
}

.checkout-section .order-info .order-list li .single-box p{
  position: relative;
  font-size: 18px;
  line-height: 28px;
  color: #222;
  float: left;
  font-weight: 500;
}

.checkout-section .order-info .order-list li .single-box span{
  position: relative;
  display: block;
  float: right;
  font-size: 18px;
  line-height: 28px;
  color: #222;
  font-weight: 500;
}

.checkout-section .order-info .order-list li.sub-total{
  padding: 17px 30px 10px 0px;
}

.checkout-section .order-info .order-list li.sub-total h4{
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  float: left;
}

.checkout-section .order-info .order-list li.sub-total span{
  position: relative;
  display: block;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  color: #222;
  float: right;
}

.checkout-section .order-info .order-list li.order-total{
  padding: 17px 30px 11px 0px;
}

.checkout-section .order-info .order-list li.order-total h4{
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  float: left;
}

.checkout-section .order-info .order-list li.order-total span{
  position: relative;
  display: block;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  float: right;
}

.checkout-section .payment-info h2{
  margin-bottom: 45px;
}

.checkout-section .payment-info .payment-inner{
  position: relative;
  display: block;
  border: 1px solid #e5e5e5;
  padding: 28px 30px 40px 30px;
  border-radius: 20px;
}

.checkout-section .payment-info .custom-control.material-checkbox .material-control-indicator{
  top: 5px;
}

.checkout-section .payment-info .payment-inner .custom-controls-stacked .description{
  font-size: 18px;
  line-height: 24px;
  font-family: 'Jost', sans-serif;
  font-weight: 500;
  color: #222;
  cursor: pointer;
}

.checkout-section .payment-info .payment-inner .custom-controls-stacked .description a{
  position: relative;
  display: inline-block;
  color: #222;
  z-index: 1;
  margin-left: 25px;
}

.checkout-section .payment-info .payment-inner .custom-controls-stacked .description a:hover{

}

.checkout-section .payment-info .payment-inner .option-block{
  position: relative;
  display: block;
  margin-bottom: 22px;
}

.checkout-section .payment-info .payment-inner .option-block p{
  position: relative;
  font-size: 14px;
  line-height: 21px;
  padding: 4px 0px 0px 30px;
}

.checkout-section .payment-info .payment-inner .theme-btn-one{
  padding: 14px 60px 12px 60px;
  box-shadow: none;
}

.checkout-section .custom-control.material-checkbox .material-control-indicator {
  display: inline-block;
  position: absolute;
  top: 5px;
  left: 0px;
  width: 16px;
  height: 16px;
  border: 1px solid #e5e5e5;
  background: #fff;
  cursor: pointer;
  border-radius: 3px;
}

.checkout-section .custom-control.material-checkbox .material-control-input:checked ~ .material-control-indicator{
  border-color: #DE2C2C;
  background: #DE2C2C;
}

.checkout-section .custom-control.material-checkbox .material-control-indicator:before{
	position: absolute;
	content: '\e92a';
	font-family: 'icomoon';
	font-size: 8px;
	color: #fff;
	width: 16px;
	height: 16px;
	line-height: 16px;
	text-align: center;
	border-radius: 3px;
	left: -1px;
	top: 0px;
	opacity: 0;
}

.checkout-section .custom-control.material-checkbox .material-control-input:checked ~ .material-control-indicator:before{
	opacity: 1;
}

.checkout-section .payment-info .payment-inner .btn-box{
  padding-top: 2px;
}

.checkout-section .payment-info .payment-inner .btn-box .theme-btn-two{
  padding: 16px 30px;
}

.checkout-section .custom-control.material-checkbox {
  --color: #ebebeb;
  padding: 0px;
  margin: 0px;
  margin-bottom: 0px !important;
}

.checkout-section .custom-control.material-checkbox .material-control-input {
  display: none;
}

.checkout-section .custom-controls-stacked .description {
  position: relative;
  display: inline-block;
  padding: 0px;
  margin-left: 25px;
  cursor: pointer;
}