
.contact-section .form-inner{
	position: relative;
	display: block;
	max-width: 850px;
	margin: 0 auto;
	background: #fff;
	border-radius: 10px;
	padding: 70px;
}

.contact-section .form-inner .form-group{
	position: relative;
	margin-bottom: 20px;
}

.contact-section .form-inner .form-group:last-child{
	margin-bottom: 0px;
}

.contact-section .form-inner .message-btn{
	padding-top: 10px;
}

.contact-section .form-inner .form-group input[type='text'],
.contact-section .form-inner .form-group input[type='email'],
.contact-section .form-inner .form-group textarea{
	position: relative;
    display: block;
    width: 100%;
    height: 50px;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    font-size: 16px;
    color: #6E6E6E;
    padding: 10px 20px;
	text-align: left;
    transition: all 500ms ease;
}

.contact-section .form-inner .form-group textarea{
	height: 130px;
	resize: none;
}

.contact-section .form-inner .form-group input:focus,
.contact-section .form-inner .form-group textarea:focus{

}

.contact-section .form-inner .form-group .theme-btn-one{
	padding: 13px 40px;
}

.contact-section .pattern-layer{
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}


/** contact-style-two **/

.contact-style-two{
	position: relative;
}

.contact-style-two .social-links li{
	position: relative;
	display: inline-block;
	float: left;
	margin-right: 10px;
}

.contact-style-two .social-links li:last-child{
	margin: 0px;
}

.contact-style-two .social-links li a{
	position: relative;
	display: inline-block;
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	color: #fff;
	text-align: center;
	border-radius: 50%;
	background: #3B5998;
}

.contact-style-two .social-links li:nth-child(2) a{
	background: #55ACEE;
}

.contact-style-two .social-links li:nth-child(3) a{
	background: #DC4E41;
}

.contact-style-two .social-links li:last-child a{
	background: #3F729B;
}

.contact-style-two .form-inner textarea{
	height: 170px;
}

.contact-style-two .form-inner .form-group{
	margin-bottom: 30px;
}

.contact-style-two .form-inner .form-group:last-child{
	margin-bottom: 0px;
}

.contact-style-two .form-inner .form-group .theme-btn-one{
	padding: 13px 40px;
	box-shadow: none;
}

.google-map-section{
	position: relative;
}

.google-map-section #contact-google-map{
	position: relative;
	width: 100%;
	height: 450px;
}



















