
.funfact-section{
	position: relative;
}

.funfact-section .inner-container{
	position: relative;
	display: block;
	background: #241E2F;
	padding: 65px 60px 60px 60px;
	box-shadow: 0px 0px 120px rgba(0, 0, 0, 0.07);
	border-radius: 10px;
	overflow: hidden;
	margin-bottom: -110px;
	z-index: 1;
}

.funfact-block-one .inner-box{
	position: relative;
	display: block;
}

.funfact-block-one .inner-box .count-outer{
	position: relative;
	display: block;
	font-size: 50px;
	line-height: 50px;
	font-family: 'Jost', sans-serif;
	font-weight: 600;
	margin-bottom: 20px;
}

.funfact-block-one .inner-box p{
	display: block;
	font-size: 18px;
	line-height: 26px;
	color: #fff;
	font-weight: 600;
}

.funfact-section .shape .shape-1{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 480px;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}

.funfact-section .shape .shape-2{
	position: absolute;
	top: 0px;
	right: 0px;
	width: 488px;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}