
.project-block-one .inner-box{
	position: relative;
	display: block;
	overflow: hidden;
}

.project-block-one .inner-box .image-box{
	position: relative;
	display: block;
	overflow: hidden;
	border-radius: 10px;
}

.project-block-one .inner-box .image-box img{
	width: 100%;
	border-radius: 10px;
	transition: all 500ms ease;
}

.project-block-one .inner-box:hover .image-box img{
	transform: scale(1.05);
}

.project-block-one .inner-box .content-box{
	position: absolute;
	left: 30px;
	top: 30px;
	width: calc(100% - 60px);
	height: calc(100% - 60px);
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(255, 255, 255, 0.2);
	border: 2px solid rgba(255, 255, 255, 0.15);
	border-radius: 10px;
	padding: 15px 15px;
	backdrop-filter: blur(7.5px);
	transform: scale(0,0);
	opacity: 0;
	transition: all 500ms ease;
}

.project-block-one .inner-box:hover .content-box{
	transform: scale(1,1);
	opacity: 1;
}

.project-block-one .inner-box .content-box .view-btn a{
	position: relative;
	display: inline-block;
	width: 80px;
	height: 80px;
	line-height: 86px;
	text-align: center;
	font-size: 30px;
	color: #fff;
	text-align: center;
	border-radius: 50%;
	margin-bottom: 25px;
}

.project-block-one .inner-box .content-box .view-btn a:hover{
	background: #241E2F;
}

.project-block-one .inner-box .content-box h3{
	display: block;
	font-size: 24px;
	line-height: 32px;
	font-weight: 600;
	margin-bottom: 8px;
}

.project-block-one .inner-box .content-box h3 a{
	display: inline-block;
	color: #fff;
}

.project-block-one .inner-box .content-box h3 a:hover{

}

.project-block-one .inner-box .content-box .designation{
	position: relative;
	display: block;
	font-size: 16px;
	line-height: 24px;
	color: #fff;
	font-weight: 500;
}

.projects-section .owl-theme .owl-dots .owl-dot span{
	position: relative;
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: 2px solid #fff;
	margin: 0px 5px;
	cursor: pointer;
	transition: all 500ms ease;
}

.projects-section .owl-theme .owl-dots .owl-dot.active span,
.projects-section .owl-theme .owl-dots .owl-dot:hover span{

}

.projects-section .owl-theme .owl-dots{
	margin-top: 50px;
}

.projects-section{
	padding: 142px 0px 140px 0px;
}


/** project-style-two **/

.project-style-two{
	position: relative;
	overflow: hidden;
}

.project-style-two .bg-layer{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.project-style-two .bg-layer:before{
	position: absolute;
	content: '';
	background: #000;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	opacity: 0.4;
}

.project-block-two .inner-box{
	position: relative;
	display: block;
	padding: 490px 30px 40px 50px;
	border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.project-block-two .inner-box:before{
	position: absolute;
	content: '';
	background: linear-gradient(180deg, rgba(222, 44, 44, 0) 28.67%, rgba(222, 44, 44, 0.4) 100%);
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	opacity: 0;
	transition: all 500ms ease;
}

.project-block-two .inner-box:hover:before{
	opacity: 1;
}

.project-block-two .inner-box span{
	position: relative;
	display: block;
	font-size: 16px;
	line-height: 26px;
	color: #fff;
	font-weight: 500;
	letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.project-block-two .inner-box h3{
	display: block;
	font-size: 24px;
	line-height: 34px;
	font-weight: 600;
}

.project-block-two .inner-box h3 a{
	display: inline-block;
	color: #fff;
}

.project-block-two .inner-box h3 a:hover{

}

.project-block-two .inner-box p{
	color: #fff;
	margin: 15px 0px 25px 0px;
}

.project-block-two .inner-box .theme-btn-one{
	padding: 13px 34px;
}

.project-block-two .inner-box .overlay-content{
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	padding-left: 50px;
	padding-right: 30px;
	max-width: 360px;
	opacity: 0;
	z-index: 1;
	transition: all 500ms ease;
}

.project-block-two .inner-box:hover .overlay-content{
	bottom: 50px;
	opacity: 1;
}

.project-block-two .inner-box .static-content{
	position: relative;
	transition: all 500ms ease;
}

.project-block-two .inner-box:hover .static-content{
	opacity: 0;
}

.projects-section.alternat-2{
	padding-bottom: 30px;
}

.projects-section.alternat-2:before{
	position: absolute;
	content: '';
	background: #F2F2F2;
	width: 100%;
	height: 250px;
	left: 0px;
	bottom: 0px;
}

.projects-section.alternat-2 .owl-theme .owl-dots .owl-dot span{
	border-color: #F2F2F2;
}

.sortable-masonry .project-block-one .inner-box{
	margin-bottom: 30px;
}

.projects-section.project-page-one{
	padding: 143px 0px 120px 0px;
}

.sortable-masonry .filter-btns li{
	position: relative;
	display: inline-block;
	font-size: 18px;
	line-height: 28px;
	font-weight: 500;
	color: #222;
	margin: 0px 15px;
	cursor: pointer;
	transition: all 500ms ease;
}

.sortable-masonry .filter-btns li.active{

}


/** projects-style-three **/

.projects-style-three{
	padding: 143px 0px 90px 0px;
}

.project-block-three .inner-box{
	position: relative;
	display: block;
	margin-bottom: 50px;
}

.project-block-three .inner-box .image-box{
	position: relative;
	display: block;
	overflow: hidden;
}

.project-block-three .inner-box .image-box .image{
	position: relative;
	display: block;
	overflow: hidden;
	border-radius: 10px;
	transition: all 500ms ease;
}

.project-block-three .inner-box:hover .image-box .image{
	background: #000;
}

.project-block-three .inner-box .image-box .image img{
	width: 100%;
	border-radius: 10px;
	transition: all 500ms ease;
}

.project-block-three .inner-box:hover .image-box .image img{
	opacity: 0.5;
	transform: scale(1.05);
}

.project-block-three .inner-box .image-box .view-btn{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

.project-block-three .inner-box .image-box .view-btn a{
	position: relative;
	display: inline-block;
	width: 80px;
	height: 80px;
	line-height: 86px;
	font-size: 30px;
	color: #fff;
	text-align: center;
	border-radius: 50%;
	transform: scale(0,0);
}

.project-block-three .inner-box:hover .image-box .view-btn a{
	transform: scale(1,1);
}

.project-block-three .inner-box .image-box .view-btn a:hover{
	background: #fff;
}

.project-block-three .inner-box .lower-content{
	position: relative;
	display: block;
	padding-top: 23px;
}

.project-block-three .inner-box .lower-content span{
	position: relative;
	display: block;
	font-size: 18px;
	line-height: 28px;
	font-weight: 500;
	margin-bottom: 0px;
}

.project-block-three .inner-box .lower-content h3{
	display: block;
	font-size: 24px;
	line-height: 34px;
	font-weight: 600;
}

.project-block-three .inner-box .lower-content h3 a{
	display: inline-block;
	color: #222;
}

.project-block-three .inner-box .lower-content h3 a:hover{

}

































