
.subscribe-section{
	position: relative;
}

.subscribe-section .inner-container{
	position: relative;
	display: block;
	background: #241E2F;
	padding: 70px 110px 80px 110px;
	border-radius: 10px;
	margin-bottom: -170px;
	z-index: 1;
}

.subscribe-section h2{
	position: relative;
	display: block;
	font-size: 40px;
	line-height: 50px;
	color: #fff;
	font-weight: 700;
	text-align: center;
	margin-bottom: 40px;
}

.subscribe-section .form-inner{
	position: relative;
	display: block;
	background: #2F2939;
	border-radius: 5px;
	padding: 20px;
}

.subscribe-section .form-inner .form-group{
	position: relative;
	margin: 0px;
	padding: 0px 10px;
}

.subscribe-section .form-inner form{
	position: relative;
	margin: 0px 5px;
	padding-right: 215px;
}

.subscribe-section .form-inner .form-group input[type='text'],
.subscribe-section .form-inner .form-group input[type='email']{
	position: relative;
	display: block;
	width: 100%;
	height: 50px;
	background: rgba(255, 255, 255, 0.07);
	border: 1px solid transparent;
	border-radius: 30px;
	padding: 10px 30px;
	font-size: 16px;
	color: #fff;
	transition: all 500ms ease;
}

.subscribe-section .form-inner .form-group input:focus{

}

.subscribe-section .form-inner .message-btn{
	position: absolute;
	top: 0px;
	right: 0px;
}

.subscribe-section .form-inner .message-btn .theme-btn-one{
	padding: 13px 36px;
}


















