
.testimonial-section{
	padding: 150px 0px;
}

.testimonial-section .sec-title{
	max-width: 320px;
}

.testimonial-section .sec-title p{
	margin-top: 22px;
}

.testimonial-block-one .inner-box{
	position: relative;
	display: block;
	padding: 50px 50px 45px 50px;
}

.testimonial-block-one .inner-box .shape{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}

.testimonial-block-one .inner-box .icon-box{
	position: absolute;
	display: inline-block;
	right: 50px;
	bottom: 63px;
	width: 40px;
	height: 40px;
	line-height: 42px;
	text-align: center;
	font-size: 16px;
	color: #fff;
	border-radius: 50%;
}

.testimonial-block-one .inner-box .icon-box:before{
	position: absolute;
	content: '';
	background: #E5E5E5;
	width: 30px;
	height: 2px;
	top: 19px;
	left: 50px;
}

.testimonial-block-one .inner-box .thumb-box{
	position: relative;
	display: inline-block;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin-bottom: 25px;
}

.testimonial-block-one .inner-box .thumb-box img{
	width: 100%;
	border-radius: 50%;
}

.testimonial-block-one .inner-box p{
	margin-bottom: 32px;
}

.testimonial-block-one .inner-box .rating li{
	position: relative;
	display: inline-block;
	font-size: 16px;
	color: #FFC93D;
}

.testimonial-block-one .inner-box .rating{
	margin-bottom: 5px;
}

.testimonial-block-one .inner-box h3{
	display: block;
	font-size: 22px;
	line-height: 30px;
	font-weight: 600;
}

.testimonial-block-one .inner-box .designation{
	position: relative;
	display: block;
	font-weight: 500;
}

.testimonial-section .nav-style-one .owl-nav button.owl-prev{
	margin-right: 20px;
}

.testimonial-section .nav-style-one .owl-nav{
	position: absolute;
	left: -440px;
	bottom: 130px;
}

.testimonial-section .pattern-layer{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.6;
}


/** testimonial-style-two **/

.testimonial-style-two{
	padding: 143px 0px 135px 0px;
}

.testimonial-style-two .owl-carousel .owl-stage-outer{
	overflow: visible;
}

.testimonial-style-two .owl-carousel .owl-stage-outer .owl-item{
	opacity: 0;
}

.testimonial-style-two .owl-carousel .owl-stage-outer .owl-item.active{
	opacity: 1;
}

.testimonial-block-two{
	position: relative;
	padding-left: 45px;
}

.testimonial-block-two .thumb-box{
	position: absolute;
	left: 0px;
	top: 40px;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	z-index: 1;
}

.testimonial-block-two .thumb-box img{
	width: 100%;
	border-radius: 50%;
}

.testimonial-block-two .inner-box{
	position: relative;
	display: block;
	background: #fff;
	box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	padding: 60px 70px 50px 70px;
}

.testimonial-block-two .inner-box h3{
	display: block;
	font-size: 22px;
	line-height: 32px;
	font-weight: 600;
	margin-bottom: 0px;
}

.testimonial-block-two .inner-box .designation{
	position: relative;
	display: block;
	margin-bottom: 30px;
}

.testimonial-block-two .inner-box p{
	margin-bottom: 30px;
}

.testimonial-block-two .inner-box .rating li{
	position: relative;
	display: inline-block;
	float: left;
	font-size: 16px;
	margin-right: 5px;
	color: #FFC93D;
}

.testimonial-block-two .inner-box .rating li:last-child{
	margin: 0px;
}

.testimonial-style-two .owl-dots{
	position: relative;
	display: block;
	text-align: center;
	margin-top: 45px;
}

.testimonial-page-section{
	padding: 143px 0px 120px 0px;
}

.testimonial-page-section .testimonial-block-two .inner-box{
	margin-bottom: 30px;
}





















